@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.app-header {
    padding: 6% 13%;
    background: #F8F9FA;
    height: auto;
}

.headerImage {
    width: 97%;
}

.headerDescription {
    font-weight: 900;
    color: #130f40;
    font-family: 'Noto Sans JP', sans-serif;
}

.headerParagraph {
    font-family: 'Noto Sans JP', sans-serif;
}

.headerBtn {
    border-radius: 4px;
    padding: 3px 6px;
    background: #130f40;
    color: white;
}

@media screen and (max-width: 991px) {
    .headerImage {
        margin-top: 30px;
    }
}